$color-background: #fff;
$color-background-hover: rgb(240, 240, 240);
$color-font: #000;
$color-primary: violet;
$color-primary-thin: rgba($color-primary, 25%);
$color-border: #e3e3e3;
$color-twitter: #1DA1F2;

$height-header: 70px;